<div class="card-container">
  <div class="card" (click)="rotade()" #card>
    <div class="side front">
      <span class="word">
        {{cardS.word}}
      </span>
      <span class="transcription">
        <span class="ts">[</span>
        {{cardS.transcription}}
        <span class="ts">]</span>
      </span>
    </div>
    <div class="side back">
      <span class="translate">
        {{cardS.translate}}
      </span>
    </div>
    <div class="side right"></div>
    <div class="side left"></div>
  </div>
</div>
