.nav {
  display: flex;
  align-items: center;
  // flex-direction: row-reverse;
  height: 70px;
  background-color: #463B47;
  padding: 0 50px;
  position: relative;

  .logo{
    .user{
      color: rgb(181, 115, 115);
      user-select: none;
    }
    color: #fff;
    font-size: 20px;
    width: 100%;
  }

  .ul {
    position: absolute;
    right: 50px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // padding: 0 50px;

    li {
      list-style-type: none;


      button {
        font-size: 18px;
        padding: 10px;
      }

      .sign {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #fff;
        // margin-right: 1px;
        color: #fff;
      }

      .login {
        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #fff;
        color: #463B47;
      }
    }
  }
}

@keyframes color-btn-hover {
  0% {
    // opacity: 1;
    color: #8e8b8b;
  }

  100% {
    color: rgb(241, 109, 109);
  }
}
