.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #463B47;
  padding: 0 50px;
  position: relative;

  .logo {
    display: flex;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    

    .user {
      position: relative;
      color: rgb(181, 115, 115);
      user-select: none;
    }
  }

  .menu{
    z-index: 10000;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
  }

  .settings {
    height: 40px;
    width: 40px;
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;

    img {
      height: inherit;
      height: inherit;
    }

    &:hover {
      cursor: pointer;

      img {
        transform: rotate(180deg);
        transition: transform 2s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transition: transform 2s;
        -moz-transition: transform 2s;
        -ms-transition: transform 2s;
        -o-transition: transform 2s;
      }
    }



  }


  .ul {
    position: absolute;
    right: 50px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // padding: 0 50px;

    li {
      list-style-type: none;


      button {
        font-size: 18px;
        padding: 10px;
      }

      .sign {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #fff;
        // margin-right: 1px;
        color: #fff;
      }

      .login {
        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #fff;
        color: #463B47;
      }
    }
  }
}

@keyframes color-btn-hover {
  0% {
    // opacity: 1;
    color: #8e8b8b;
  }

  100% {
    color: rgb(241, 109, 109);
  }
}
