<!-- <div class="ul">
    <li class="li" *ngFor="let item of ls.languages">
        {{item}}
    </li>
</div> -->

<div class="header">
  <span>Выберите язык перевода:</span>
  <form>
    <select name="language" size="1">
      <option *ngFor="let item of ls.languages">
        {{item}}
      </option>
    </select>
  </form>
  <button (click)="alert()">CLICK</button>
  <!-- <button [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >Sign -->
  <!-- <a [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >LOL</a> -->
    <button class="btn" (click)="lol()">Sign In</button>
    <button class="btn" (click)="lol()">Log In</button>
</div>
<textarea name="" id="" [(ngModel)]='textarea'></textarea>
