<div class="drop-container" [@menu-ul]="menu.menuState">
  <ul class="drop-menu">
    <li class="li-progress btn li-1" [@li-1]="menu.menuState" (click)="menu.toggle()"> <span
        class="progress">Progress:</span>
      <div class="line-progress">
        <div class="line-progress-active"></div>
        <div class="percent">
          100%
        </div>
      </div>
    </li>
    <li class="btn li-2" [@li-2]="menu.menuState" 
                        [routerLink]="['/learn-new-words']" 
                        routerLinkActive="active"
                        (click)="menu.toggle()"
                        >Learn New Words</li>

    <li class="btn li-3" [@li-3]="menu.menuState" 
                        [routerLink]="['/learned-words']" 
                        routerLinkActive="active"
                        (click)="menu.toggle()"
                        >Not Learned Words</li>

    <li class="btn li-4" [@li-4]="menu.menuState"
                        [routerLink]="['/repeat-words']"
                        routerLinkActive="active"
                        (click)="menu.toggle()"
                        >Repeat Words</li>
    <li class="btn li-5" [@li-5]="menu.menuState" (click)="menu.logOut()"> <span class="log-out">Log Out</span> </li>
  </ul>
</div>
