<div class="modal" #exit>
  <div class="exit" (click)="hide()"></div>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="sign-login">
    
      <!-- <a href="" [routerLink]="['/login']" routerLinkActive="modal-link-active">
        <li>Log in</li>
      </a>
      <a href="" [routerLink]="['/sign-in']" routerLinkActive="modal-link-active">
        <li>Sign In</li>
      </a> -->
      <button class="btn rectangle btn-opacity">Sign In</button>
      <button class="btn rectangle">Log In</button>
    </div>
    
    <div class="form-modules">
      <div class="animate">
        <input class="input" (focus)='focus()' placeholder="First name" #firstname formControlName="firstName">
        <div class="errors" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
          <small *ngIf="form.get('firstName').errors.required">Поле не може бути пустим.</small>
        </div>
      </div>
      <div class="animate">
        <input class="input" (focus)='focus()' placeholder="Last name" #lastname formControlName="lastName">
        <div class="errors" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
          <small *ngIf="form.get('lastName').errors.required">Поле не може бути пустим.</small>
        </div>
      </div>
      <div class="animate">
        <input class="input" (focus)='focus()' type="email" placeholder="Email" #email formControlName="email">
        <div class="errors" *ngIf="form.get('email').invalid && form.get('email').touched">
          <small *ngIf="form.get('email').errors.email">Введіть коректний email.</small>
          <small *ngIf="form.get('email').errors.required">Поле не може бути пустим.</small>
        </div>
      </div>
      <div class="animate">
        <input class="input" (focus)='focus()' type="password" placeholder="Password" #password
          formControlName="password">
        <div class="errors" *ngIf="form.get('password').invalid && form.get('password').touched">
          <small *ngIf="form.get('password').errors.minlength">
            Пароль містить менше {{form.get('password').errors.minlength.requiredLength}} символів.
            Зараз к-сть символів - {{form.get('password').errors.minlength.actualLength}}
          </small>
          <small *ngIf="form.get('password').errors.required">Поле не може бути пустим.</small>
        </div>
        <!-- <pre>{{form.get('password').errors | json}}</pre> -->
      </div>
      <button class="btn" type="submit" [disabled]='form.invalid' #btn>Register</button>
    </div>
  </form>
</div>
