.bg{
    height: calc(100vh - 70px);
    background-image: url(../../../assets/mind.jpg);
    background-blend-mode: multiply;
    background-color: #463B47;
    background-size: 100% 100%;
    background-position: center;
    .lol{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}