/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  ::selection {
    // color: red;
    background-color: rgb(176, 31, 189);
  }
}

option {
  font-size: 15px;
}

span {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 0 10px;
  border: none;
  color: #fff !important;
  border-bottom: 2px solid #463B47;
  background-color: rgba($color: #000000, $alpha: 0);
}

input:focus {
  color: #fff !important;
  background-color: rgba($color: #000000, $alpha: 0);
}

input::placeholder{
  user-select: none;
}
input:blur::placeholder {
  color: #fff;
  user-select: none;
  // border: 1px solid #3B312B
}

input:checked {
  color: #fff;
  background-color: rgba($color: #000000, $alpha: 0);

}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 25px rgb(0, 0, 0);
  -webkit-text-fill-color: #fff;

  -moz-box-shadow: inset 0 0 0 25px rgb(0, 0, 0);
  -moz-text-fill-color: #fff;

  -ms-box-shadow: inset 0 0 0 25px rgb(0, 0, 0);
  -ms-text-fill-color: #fff;

  -o-box-shadow: inset 0 0 0 25px rgb(0, 0, 0);
  -o-text-fill-color: #fff;
}

.btn-form {
  width: 100%;
  height: 50px;
  color: rgb(142, 139, 139);
  background-color: #463B47;
  border: 1px solid rgb(142, 139, 139);
  outline: none;
  position: relative;
  border-radius: 5px;
  top: 0;
  user-select: none;
}

.btn-form:hover {
  cursor: pointer;
}

.btn-form:active {
  box-shadow: 0 0 5px 1px rgb(201, 146, 206);
  // animation: border-btn 0.1s;
}

.btn-form:disabled {
  cursor: no-drop;
}

// .btn:disabled:hover:after{
//   content: '';
//   height: 50px;
//   width: 20px;
//   background-color: red;
//   position: absolute;
//   top: -1px;
//   right: 0;
//   border-right: 1px green($color:  #fff);
// }

.btn {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 12.5px 20px;

  &:hover {
    cursor: pointer;
  }
}


@keyframes border-btn-form {
  0% {
    border: 1px solid rgb(142, 139, 139);
  }

  100% {
    border: 5px solid rgb(142, 139, 139);
  }
}

.modal-link-active {
  background-color: #463B47;
}

.modal-link-active li {
  color: #fff;
}

.rectangle {
  border-radius: 0;
  border: none;
  transition: transform 0.3s;

  &:hover:active {
    box-shadow: none;
    transform: scale(1);
  }

  &:hover {
    transform: scale(0.9);
  }
}

.active-modal-form{
  color: #fff;
}
