<form class="registration-form" [formGroup]="form" (ngSubmit)="submit()">

  <!-- btn-change-registrationFormStatus -->
  <div class="sign-login-form">
    <button type="button" class="btn btn-opacity" (click)="signInForm()"
      [routerLink]="['/home', 'sign-up']" routerLinkActive="active">Sign In</button>
    <button type="button" class="btn" (click)="logInForm()" [routerLink]="['/home', 'log-in']"
      routerLinkActive="active">Log
      In</button>
  </div>

  <div class="form-modules">

    <!-- * nickName -->
    <div class="form-module">
      <input class="input" placeholder="Nickname" #firstname formControlName="nickName">
      <!-- ! errors -->
      <div class="errors" *ngIf="form.get('nickName').invalid && form.get('nickName').touched">
        <small *ngIf="form.get('nickName').errors.required">Поле не може бути пустим.</small>
        <small *ngIf="form.get('nickName').errors.minlength">
          Нікнейм містить менше {{form.get('nickName').errors.minlength.requiredLength}} символів.
          Зараз к-сть символів - {{form.get('nickName').errors.minlength.actualLength}}
        </small>
      </div>
    </div>



    <!-- * password -->
    <div class="form-module">
      <input class="input" type="password" placeholder="Password" #password formControlName="password"
        autocomplete="false">
      <!-- ! errors -->
      <div class="errors" *ngIf="form.get('password').invalid && form.get('password').touched">
        <small *ngIf="form.get('password').errors.minlength">
          Пароль містить менше {{form.get('password').errors.minlength.requiredLength}} символів.
          Зараз к-сть символів - {{form.get('password').errors.minlength.actualLength}}
        </small>
        <small *ngIf="form.get('password').errors.required">Поле не може бути пустим.</small>
      </div>
      <div class="errors">
        <small *ngIf="userS.wrongNickNameOrPassword">Не вірний нікнейм або пароль.</small>
      </div>
    </div>

    <!-- btn-submit -->
    <div class="form-btn-submit">
      <button class="btn" type="submit" [disabled]='form.invalid' *ngIf="modal.registrationStatus; else login"
        #register>Register</button>

      <ng-template #login>
        <button class="btn" type="submit" [disabled]='form.invalid' #btn>Login</button>
      </ng-template>
    </div>

  </div>
</form>
